In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("Advertising.csv")
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [ ]:
x = df.drop("sales", axis=1)
y = df["sales"]
from sklearn.model_selection import train_test_split
# x_train, x_other, y_train, y_other = train_test_split(x,y,test_size=0.3)
# x_eval, x_test, y_eval, y_test = train_test_split(x_other, y_other, test_size=0.5)
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
from sklearn.model_selection import cross_validate
from sklearn.linear_model import Ridge
model = Ridge(alpha=1)
scores = cross_validate(model, x_train, y_train, scoring = ["neg_mean_squared_error", "neg_mean_absolute_error"], cv=10)
pd.DataFrame(scores)

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.001662,0.000935,-2.407498,-1.319668
1,0.004827,0.000844,-3.713854,-1.685985
2,0.000921,0.000603,-2.851226,-1.504371
3,0.000928,0.000503,-2.101456,-1.181951
4,0.000630,0.000424,-1.237711,-0.905947
5,0.000728,0.000424,-4.669225,-1.574316
6,0.000563,0.000481,-8.109074,-1.795418
7,0.000543,0.000463,-2.223407,-1.299396
8,0.000595,0.000410,-3.396092,-1.371888
9,0.000566,0.000407,-2.335106,-0.969531

In [ ]:
from sklearn.linear_model import Ridge
model = Ridge(alpha=1)
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, x_train, y_train, scoring = "neg_mean_squared_error", cv=5)
scores

array([-6.50970061, -3.59064822, -2.26037449, -3.06332939, -2.65777546])

In [ ]:
from sklearn.metrics import mean_squared_error
model.fit(x_train, y_train)
final_preds = model.predict(x_test)
mse = mean_squared_error(final_preds, y_test)
mse

1.6138898418948362